<h1>Análisis de sentimientos</h1>

In [1]:
import pandas as pd

In [3]:
df_user_reviews = pd.read_csv('df_user_reviews_final.csv')
df_user_reviews.head(5)

,Unnamed: 0,user_id,user_url,last_edited,item_id,helpful,recommend,review,fecha
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011-11-05
1,1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,22200,No ratings yet,True,It's unique and worth a playthrough.,2011-07-15
2,2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,2011-04-21
3,3,js41637,http://steamcommunity.com/id/js41637,NaN,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2014-06-24
4,4,js41637,http://steamcommunity.com/id/js41637,NaN,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,2013-09-08

In [14]:
pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 1.1 MB/s eta 0:00:00
Requirement already satisfied: click in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.3.2)
Collecting regex>=2021.8.3
  Downloading regex-2023.8.8-cp311-cp311-win_amd64.whl (268 kB)
     -------------------------------------- 268.3/268.3 kB 1.5 MB/s eta 0:00:00
Collecting tqdm
  Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
     -------------------------------------- 78.3/78.3 kB 723.6 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Installing collected packages: tqdm, regex, nltk
Successfully installed nltk-3.8.1 regex-2023.8.8 tqdm-4.66.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     -------------------------------------- 636.8/636.8 kB 1.0 MB/s eta 0:00:00
Requirement already satisfied: nltk>=3.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.1->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.1->textblob) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.1->textblob) (2023.8.8)
Requirement already satisfied: tqdm in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.1->textblob) (4.66.1)
Requirement already satisfied: colorama in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.6)
Installing collected packages: textblob
Successfully installed textblob-0.17.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
#from nltk.sentiment.vader import SentimentalIntensityAnalizer

In [17]:
import nltk
from textblob import TextBlob

In [18]:
def analizar_sentimiento(texto):
    analysis = TextBlob(texto)
    polaridad = analysis.sentiment.polarity
    if polaridad > 0.10:
        return 'positivo'
    elif polaridad < -0.10:
        return 'negativo'
    else:
        return 'neutral'

In [19]:
df_user_reviews['Sentimiento'] = df_user_reviews['review'].apply(analizar_sentimiento)

In [9]:
df_user_reviews = df_user_reviews[['user_id', 'item_id', 'Sentimiento']]

In [10]:
df_user_reviews.to_csv("df_user_reviews_sentimientos.csv")

In [11]:
df_user_reviews.head(5)

             user_id  item_id Sentimiento
0  76561197970982479     1250    positivo
1  76561197970982479    22200    positivo
2  76561197970982479    43110     neutral
3            js41637   251610    positivo
4            js41637   227300     neutral

In [22]:
df_user_reviews[df_user_reviews['Sentimiento']=='negativo']['review'][1892]

'I like this game'

<h3>def sentiment_analysis(año: int):
Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.
Ejemplo de retorno: *{Negative = 182, Neutral = 120, Positive = 278}</h3>

In [4]:
df_steam_games = pd.read_csv('df_steam_games_final.csv')
df_steam_games.head(5)

,Unnamed: 0,publisher,genres,app_name,title,url,specs,id,developer,price2,releasedate2,Año
0,88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,['Single-player'],761140.0,Kotoshiro,4.99,2018-01-04,2018
1,88311,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,"['Single-player', 'Multi-player', 'Online Mult...",643980.0,Secret Level SRL,0.00,2018-01-04,2018
2,88312,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,"['Single-player', 'Multi-player', 'Online Mult...",670290.0,Poolians.com,0.00,2017-07-24,2017
3,88313,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,['Single-player'],767400.0,彼岸领域,0.99,2017-12-07,2017
4,88315,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,"['Single-player', 'Steam Achievements']",772540.0,Trickjump Games Ltd,3.99,2018-01-04,2018

In [6]:
juegos = df_steam_games[df_steam_games['Año']==2006]['id'].to_list()

In [32]:
df_user_reviews.head(2)

,Unnamed: 0,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,fecha,Sentimiento
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted November 5, 2011.",NaN,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011-11-05,positivo
1,1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted July 15, 2011.",NaN,22200,No ratings yet,True,It's unique and worth a playthrough.,2011-07-15,positivo

In [29]:
df_user_reviews_filtrado = df_user_reviews[df_user_reviews['item_id'].isin(juegos)]
conteo_sentimientos = df_user_reviews_filtrado['Sentimiento'].value_counts()

# Crear un diccionario personalizado
diccionario_conteo = {
    'Negative': conteo_sentimientos.loc['negativo'],
    'Neutral': conteo_sentimientos.loc['neutral'],
    'Positive': conteo_sentimientos.loc['positivo']
}

In [30]:
diccionario_conteo

{'Negative': 6, 'Neutral': 29, 'Positive': 38}